ANALYSE EXPLORATOIRE DE DONNEES/ LES JOINTURES AVEC PANDAS(PARTIE 5)
- INNNER JOIN 
- LEFT JOIN
- RIGHT JOIN
- FULL OUTER JOIN

In [10]:
import pandas as pd 

df1 = pd.DataFrame({'PAYS':['Tchad','Libye','Soudan','Algerie','Tunisie','Chine'],
                    'CAPITALE':['Ndjamena','Tripoli','Khartoum','Alger','Tunis','P√©kin'],
                    'POPULATION':['16M','6M','43M','43M','11M','1,402 milliard'],
                    'LANGUES':['Arabe/francais','Arabe','Arabe','Arabe','Arabe','Chinois'],
                    'CONTINENT':['Afrique','Afrique','Afrique','Afrique','Afrique','Asie'],
                   })

df2 = pd.DataFrame({'PAYS':['Tunisie','Tchad','Soudan','Mali','Senegal'],
                    'SUPERFICIE':['163 610 km¬≤',
                                  '1,284 million km¬≤',
                                  '1,886 million km¬≤',
                                  '1,24 million km¬≤',
                                  '196 722 km¬≤'
                                ],
                    'DEVISE':['Dinar tunisien',
                              'Franc CFA',
                              'Livre soudanaise',
                              'Franc CFA',
                              'Franc CFA'
                            ]
                   })

In [11]:
df1

      PAYS  CAPITALE      POPULATION         LANGUES CONTINENT
0    Tchad  Ndjamena             16M  Arabe/francais   Afrique
1    Libye   Tripoli              6M           Arabe   Afrique
2   Soudan  Khartoum             43M           Arabe   Afrique
3  Algerie     Alger             43M           Arabe   Afrique
4  Tunisie     Tunis             11M           Arabe   Afrique
5    Chine     P√©kin  1,402 milliard         Chinois      Asie

In [12]:
df2

      PAYS         SUPERFICIE            DEVISE
0  Tunisie        163 610 km¬≤    Dinar tunisien
1    Tchad  1,284 million km¬≤         Franc CFA
2   Soudan  1,886 million km¬≤  Livre soudanaise
3     Mali   1,24 million km¬≤         Franc CFA
4  Senegal        196 722 km¬≤         Franc CFA

-----------------------------

1.  INNER JOIN OU INTERSECTION

 - Au moins une colonne commune ayant les memes valeurs dans les deux DataFrames

In [14]:
inner = pd.merge(df1, df2, on = 'PAYS', how = 'inner')
inner

,PAYS,CAPITALE,POPULATION,LANGUES,CONTINENT,SUPERFICIE,DEVISE
0,Tchad,Ndjamena,16M,Arabe/francais,Afrique,"1,284 million km¬≤",Franc CFA
1,Soudan,Khartoum,43M,Arabe,Afrique,"1,886 million km¬≤",Livre soudanaise
2,Tunisie,Tunis,11M,Arabe,Afrique,163 610 km¬≤,Dinar tunisien

-----------------------------

2. LEFT JOIN avec:

    - Pas de colonnes ayant le meme labels
    - Avec quelques valeurs communes

In [15]:
df3 = pd.DataFrame({'COUNTRIES':['Tunisie','Tchad','Soudan','Mali','Senegal'],
                    'SUPERFICIE':['163 610 km¬≤',
                                  '1,284 million km¬≤',
                                  '1,886 million km¬≤',
                                  '1,24 million km¬≤',
                                  '196 722 km¬≤'
                                ],
                    'DEVISE':['Dinar tunisien',
                              'Franc CFA',
                              'Livre soudanaise',
                              'Franc CFA',
                              'Franc CFA'
                            ]
                   })
df3

  COUNTRIES         SUPERFICIE            DEVISE
0   Tunisie        163 610 km¬≤    Dinar tunisien
1     Tchad  1,284 million km¬≤         Franc CFA
2    Soudan  1,886 million km¬≤  Livre soudanaise
3      Mali   1,24 million km¬≤         Franc CFA
4   Senegal        196 722 km¬≤         Franc CFA

In [17]:
left = pd.merge(df1, df3, how = 'left', left_on = 'PAYS', right_on = 'COUNTRIES', indicator = True)
left

,PAYS,CAPITALE,POPULATION,LANGUES,CONTINENT,COUNTRIES,SUPERFICIE,DEVISE,_merge
0,Tchad,Ndjamena,16M,Arabe/francais,Afrique,Tchad,"1,284 million km¬≤",Franc CFA,both
1,Libye,Tripoli,6M,Arabe,Afrique,NaN,NaN,NaN,left_only
2,Soudan,Khartoum,43M,Arabe,Afrique,Soudan,"1,886 million km¬≤",Livre soudanaise,both
3,Algerie,Alger,43M,Arabe,Afrique,NaN,NaN,NaN,left_only
4,Tunisie,Tunis,11M,Arabe,Afrique,Tunisie,163 610 km¬≤,Dinar tunisien,both
5,Chine,P√©kin,"1,402 milliard",Chinois,Asie,NaN,NaN,NaN,left_only

-----------------------------

3. RIGHT JOIN avec:

    - Ayant au moins une colonne en commun
    - Quelques valeurs communes pour ces colonnes

In [18]:
right = pd.merge(df1, df2, how = 'right', on = 'PAYS', indicator = 'PROVENANCE')
right

,PAYS,CAPITALE,POPULATION,LANGUES,CONTINENT,SUPERFICIE,DEVISE,PROVENANCE
0,Tunisie,Tunis,11M,Arabe,Afrique,163 610 km¬≤,Dinar tunisien,both
1,Tchad,Ndjamena,16M,Arabe/francais,Afrique,"1,284 million km¬≤",Franc CFA,both
2,Soudan,Khartoum,43M,Arabe,Afrique,"1,886 million km¬≤",Livre soudanaise,both
3,Mali,NaN,NaN,NaN,NaN,"1,24 million km¬≤",Franc CFA,right_only
4,Senegal,NaN,NaN,NaN,NaN,196 722 km¬≤,Franc CFA,right_only

-----------------------------

4. OUTER JOIN / FULL OUTER JOIN avec:
- au moins une colonne en partage(PAYS) ayant les memes valeurs dans les deux datasets

In [20]:
outer = pd.merge(df1, df2, how = 'outer', on = 'PAYS', sort = True)
outer

,PAYS,CAPITALE,POPULATION,LANGUES,CONTINENT,SUPERFICIE,DEVISE
0,Algerie,Alger,43M,Arabe,Afrique,NaN,NaN
1,Chine,P√©kin,"1,402 milliard",Chinois,Asie,NaN,NaN
2,Libye,Tripoli,6M,Arabe,Afrique,NaN,NaN
3,Mali,NaN,NaN,NaN,NaN,"1,24 million km¬≤",Franc CFA
4,Senegal,NaN,NaN,NaN,NaN,196 722 km¬≤,Franc CFA
5,Soudan,Khartoum,43M,Arabe,Afrique,"1,886 million km¬≤",Livre soudanaise
6,Tchad,Ndjamena,16M,Arabe/francais,Afrique,"1,284 million km¬≤",Franc CFA
7,Tunisie,Tunis,11M,Arabe,Afrique,163 610 km¬≤,Dinar tunisien

In [1]:
print('je commente la video et je la partage sur les reseaux sociaux, merci  üëç')

je commente la video et je la partage sur les reseaux sociaux, merci  üëç

- **R√©joindre la communaut√© openclass4all** üëá
 - https://www.youtube.com/channel/UCE-613S-bsuLukwHDhnRxIA/?sub_confirmation=1

- **Vid√©o associ√©e √† ce notebook** üëá
 - https://youtu.be/gR2A2tRKcts
 
- **Merci d'ajouter une √©toile √† mon profil github si vous pensez que le travail que je fais est utile**.